<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="bamboo.prevalence" type="Bamboo.Prevalence.Configuration.PrevalenceSettings, Bamboo.Prevalence" />
	</configSections>

	<bamboo.prevalence>
		<engines>
			<add
				id="todo"
				type="Bamboo.Prevalence.Examples.ToDoList.TaskSystem, Bamboo.Prevalence.Examples.ToDoList"
				base="c:\tasks" />
		</engines>
	</bamboo.prevalence>

</configuration>
